<div class="hero-unit">
	<h1>Bookmarker in the cloud</h1>
	<p>Now save and read your bookmarks from anywhere - any device, any browser!</p>
	<p><%= link_to 'Sign up', accounts_start_register_path, :class => 'btn btn-primary btn-large' %></p>	
</div>			  
<div class="row-fluid">
	<div class="span4">            	
		<h2>Deeper Search</h2>
		<p>
		Search through the actual contents your bookmarked web pages and get the right bookmarks at the right time.
		</p>              
	</div><!--/span-->
	<div class="span4">
		<h2>Pinned Bookmarks</h2>
		<p>Pin bookmarks to Bookmarker for quick access to your most used bookmarks.</p>              
	</div><!--/span-->
	<div class="span4">
		<h2>Notes</h2>
		<p>
			Make notes when adding bookmarks and easily access your notes the next time you are on a bookmarked web page.
		</p>            
	</div><!--/span-->
</div><!--/row-->
<div class="row-fluid">
	<div class="span4">
		<h2>Facebook Integration</h2>
		<p>
			No need to register and create a special login. You can share your bookmarks with your social network. But only if you choose.
		</p>
	</div><!--/span-->
	<div class="span4">
		<h2>Import Existing Bookmarks</h2>
		<p>Easily import bookmarks from online bookmarking services or your browser. Check out our Tools section to know more.</p>
	</div><!--/span-->
	<div class="span4">
		<h2>Coming Soon!! - Automatic Grouping</h2>
		<p>
			Let Bookmarker automatically group your bookmarks for better categorization.
		</p>
	</div><!--/span-->
</div><!--/row-->